* {
    margin: 0;
    padding: 0;
}

.buttonwrap {
    position: absolute;
    top: 10%;
    left: 10%;
}

#text {
    width: 300px;
    height:0px;
    background: #129375cf;
    margin-top: 30px;
    transition:1s;
    opacity:0;
}

#text h3 {
    color: white;
    font-family: arial;
    text-align: center;
    font-size: 21px;
    padding: 68px 0px;
}

button#btn1 {
    color: white;
    background: #3fa78f;
    border: none;
    padding: 10px;
    border-radius: 50px;
    outline: none;


}

button#btn2 {
    color: white;
    background: #f15e07;
    border: none;
    padding: 10px;
    border-radius: 50px;
    outline: none;

}